/* CSS reset */


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* PAGE DEFAULTS */

body {
    background: #352A3C;
    color: #8DA3B1;
    margin-top: 59px;
}

header {
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 3px solid white;
    font-family: 'Geo', sans-serif;
    position: fixed;
    display: block;
    width: 100%;
    background: #352A3C;
    top: 0px;
}

header h1 {
    display: inline-block;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 165%;
    font-family: 'Geo', sans-serif;
}

h3 {
    font-size: 125%;
}

ul {
    list-style: disc inside none;
}

main {
    font-family: 'Open Sans', sans-serif;
}

section {
    /*padding: 1rem;*/
    line-height: 120%;
}

section h2 {
    padding: 1rem 0 1rem 0;
}

section p {
    line-height: 120%;
}

section ul {
    padding: 0.5rem 0 0.25rem 0;
}

section li {
    padding: 0.25rem 0 0.25rem 0;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #933345;
    text-decoration: none;
}

.section-info {
    padding-bottom: 1rem;
}

/* HEADER */
#navbar a {
    float: right;
    padding-left: 1rem;
}

#navbar a:visited {
    color: white;
}

#navbar a:link {
    color: white;
}

#navbar a:hover {
    color: #933345;
    font-size: 125%;
}

nav {
    display: inline-block;
    float: right;
    padding-top: 1rem;
}

/* LANDING PAGE / "HOOK" */
#hook {
    background: #352A3C url('../img/kapadokya2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    color: #352A3C;
}

#hook-blurb {
    padding: 1rem 3rem 1rem 3rem;
    line-height: 4rem;
    font-size: 170%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* ABOUT */

#about {
    padding-bottom: 2rem;
}

#about-blurb {
    display: inline-block;
    vertical-align: center;
}

#avatar-img {
    padding: 1rem 0 1rem 0;
}

.avatar-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
    min-width: 40%;
    height: auto;
    border-radius: 9999px;
}

.responsive-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    min-width: 70%;
    height: auto;
}

.landing-block {
    display: inline-block;
    text-align: center;
/*    border: 2px solid green;
*/}

.landing-image {
    border: 1px solid #352A3C;
    display: block;
    width: 25%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.landing-blurb {
    display: block;
    text-align: left;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

/* PORTFOLIO */
#portfolio {
    background: white;
    color: #352A3C;
    padding-bottom: 2rem;
}

/* SKILLS */

#skills {
    background: #352A3C;
    color: #8DA3B1;
    padding-bottom: 2rem;
}

/* CONTACT */

#contact {
    background: white;
    color: #352A3C;
    padding-bottom: 2rem;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 0.25rem;
    font-family: 'Geo', sans-serif;
}

footer li {
    display: inline;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: #933345;
    font-size: 125%;
}